<% if user_signed_in? %>

  <li>
     <%= link_to 'Post a task', {controller: "tasks", action: "new", id: current_user.id} %>
  </li>

  <li>
    <%= link_to("#{current_user.username.capitalize}\'s Profile", {controller: "users", action: "show", id: current_user.id}) %>
  </li>
  <li>
    <%= link_to('Edit Profile', edit_user_registration_path) %>
  </li>
  <li>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  </li>

<% else %>
  
  <li>
  <%= link_to 'Join', new_user_registration_path %>
  </li>
  <li>
  <%= link_to 'Sign In', new_user_session_path %>
  </li>
  
<% end %>