<div class="container-fluid">
<div class="row">
<div class="col-md-12">
  




<h2>Edit <%= @user.username.capitalize + "'s" + " profile" %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Username %><br />
    <%= f.text_field :username, autocomplete: "off", placeholder: "#{@user.username}", disabled: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode, autocomplete: "address", placeholder: "#{@user.postcode}" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Enter_new_password %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "#{@minimum_password_length} characters" %>
  </div>

  <div class="field">
    <%= f.label :confirm_new_password %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "needed to save changes"%>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-md btn-success" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>


<    </div>
  </div>
</div>
