<!-- template to show the list of the tasks created by the specific user -->
<!-- called from :controller => user, :action => created_tasks -->

<%= "#{@user.username.capitalize}'s created tasks" %> 

<div>
  <%@task = @user.owned_tasks%>
  <div class = "taskList">
    <% @task.each do |i| %>
    <div> <%= i.status %> </div>
    <div> <%= i.title.capitalize %> </div>
    <div> <%= i.desc.capitalize %> </div>
    <div> valid until: <%= i.duration %> </div>
    <div> points: <%= i.points %> </div>
    <div> <%= i.images %> </div>
    <div> Created by: <%= @creator.username.capitalize %></div> 
    <div> Assigned to: <%= @assignee.username.capitalize %> </div>
    
    <div> <%= link_to 'Show created tasks', task_path(@tasklist.id) %></div>
    <% end%>
  </div>
</div>
