<div style="background-image:url('<%=@user.avatar%>'); background-size: cover;height: 20%;
  background-position: center;">


  <div class="container-fluid">





<div>
  <%#= image_tag @user.avatar, width: '100%', class: "background-content" %>
</div>

<div class="row taskShow">
<div class="col-md-6">
<div class="jumbotron home">

<div class="row">
<div class="col-md-12">
   <%= image_tag @user.avatar, width: '30%', class: 'img-rounded'%>
</div>
</div>

<div>
  <h2><%= @user.username %></h2>
</div>

<div>
  Email: <%= @user.email %>
</div>

<div>
  Address: <%= @user.postcode %>



    <div class="row">
    <div class="col-md-12">
      <br/>
      <div class="btn-group" role="group">
         
        <button class="btn btn-info" type="button">
          <%= link_to 'Created tasks', created_tasks_user_path(params[:id]) %>
        </button> 
        <button class="btn btn-info" type="button">
          <%= link_to 'Assigned tasks', assigned_tasks_user_path(params[:id]) %>
        </button> 
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<%= tag.div nil, id: 'profilemap', style: "width:100% ; height: 550px; z-index:3; margin: auto; top:200px" %>




<script>
  var map = new GMaps({
    div: '#profilemap',
    lat: <%= @user.latitude %>,
    lng: <%= @user.longitude %>,
  });
  map.addMarker({
    lat: <%= @user.latitude %>,
    lng: <%= @user.longitude %>,
    title: '<%= @user.postcode %>',
})
</script>