<div>
  <%= link_to 'Create Tasks', {controller: "tasks", action: "new", id: current_user.id} %>
</div>



<div>
  <%= image_tag @user.avatar, width: '20%' %>
</div>
<div>
  Username: <%= @user.username %>
</div>
<div>
  Email: <%= @user.email %>
</div>
<div>
  Address: <%= @user.postcode %>
</div>

<%= tag.div nil, id: 'profilemap' %>

<script>
  var map = new GMaps({
    div: '#profilemap',
    lat: <%= @user.latitude %>,
    lng: <%= @user.longitude %>,
  });
  map.addMarker({
    lat: <%= @user.latitude %>,
    lng: <%= @user.longitude %>,
    title: '<%= @user.postcode %>',
})
</script>