
<%= video_tag(
  'aidaround.mp4',
  id: 'video',
  autoplay: true,
  loop: true,
  muted: true,
  poster: 'aidaround.jpg')
%>


<%#= render "search_bar" %>


<!-- getting the gmaps address method on tasks and convert them to json and store it in markers -->
<%= tag.div nil, id: 'homemap', data: { tasks: @tasks.to_json } %>

<!-- tasks -->
<div class="row">
  <div class="col">
    <h1>Latest Tasks</h1>

    <% @tasks.newest.each do |task| %>
      <div>
        <h5><%= task.points %> points | <%= link_to task.title, task %></h5>
        <div><%= task.address %> <%= task.desc %>   </div>
        <div>Creator: <%=task.owner_id %> <%= time_ago_in_words(task.created_at).gsub('about','') +" ago" %></div>
      </div>
      <hr />
    <% end %>

    <%#= paginate @tasks %>
  </div>
</div>


<!-- assignees -->

<div class="row">
 <div class="col">
  <h1>Top Assignees</h1>

  <!-- need to add scope for highest points -->
  <% @assignees.each do |assignee| %>
    <div>
      <h5><%=link_to assignee.username.capitalize, user_path(assignee) %> | <%=assignee.points %> points </h5>
    </div>
    <hr />
  <% end %>

  </div>
</div>



<script>

  document.addEventListener("turbolinks:load", function() {

    //sets a default lat long on the homepag map
    var map = new GMaps({
      div: '#homemap',
      lat: 51.5074,
      lng: 0.1278,
      zoom: 10,
    });
    //add the map var to the windows DOM
    window.map = map;

    //get the homemap and parse the existing markers, store and add the to windows object//  
    var tasks = JSON.parse(document.querySelector("#homemap").dataset.tasks);
    window.tasks = tasks;

    // var bounds = new google.maps.LatLngBounds();


 




    //adding markers to the map
    tasks.forEach(function(task) {
        var content = `
        <a href='/tasks/${task.id} style="text-decoration:none; " '>
        <table >
          <tr>
            <td>
              <img src="${task.title_icon}" width="85" style="margin-right:10px">
            </td>
            <td></td>
            <td>
              <h6><a style="color:#ec634a" href='/tasks/${task.id}'>${task.title}</a></h6>
              <p style="color:#212529">${task.points} points </p>
              <p style="color:#6f6f6f">${task.address}</a></p>
            </td>
          </tr>
        </table>
          </a>
        `
;
        map.addMarker({
          lat: task.latitude,
          lng: task.longitude, 
          title: task.title,
          infoWindow: { 
            content: content
          }
        });

        // bounds.extend(marker.position);
     
    });
    // map.fitBounds(bounds);
  });
</script>