<h1> aidaround </h1>

<%= video_tag(
  'aidaround.mp4',
  id: 'background',
  autoplay: true,
  loop: true,
  muted: true,
  poster: 'aidaround.jpg')
%>

<div>
  <%= image_tag current_user.avatar, width: '20%' %>
</div>
<div>
  your username is :<%= current_user.username %>
</div>
<div>
  you email is :<%= current_user.email %>
</div>
<div>
  your postcode is: <%= current_user.postcode %>
</div>