
<%= video_tag(
  'aidaround.mp4',
  id: 'video',
  autoplay: true,
  loop: true,
  muted: true,
  poster: 'aidaround.jpg')
%>

<button id="find">Tasks Around Me</button>


<!-- getting the gmaps address method on tasks and convert them to json and store it in markers -->
<%= tag.div nil, id: 'homemap', data: { tasks: @tasks.to_json } %>

<!-- tasks -->
<div class="row">
  <div class="col">
    <h1>Latest Tasks</h1>

    <% @tasks.newest.each do |task| %>
      <div class="row">
         <div class="col tasks">
        <h5 style="color:#83878c"><%= task.points %> points </h5>
         </div>
         <div class="col">
          <h5><%= link_to task.title, task %></h5>
          <%= task.address %> <%= task.desc %>  
          <p style="color:#83878c"><%= time_ago_in_words(task.created_at).gsub('about','') +" ago" %></p>
        </div>
        </div>
      <hr />
    <% end %>

    <%#= paginate @tasks %>
  </div>
</div>


<!-- assignees -->

<div class="row">
 <div class="col">
  <h1>Top Assignees</h1>

  <!-- need to add scope for highest points -->
  <% @assignees.each do |assignee| %>
    <div>
       <%= image_tag assignee.avatar %>
    </div>
    <div>
      <h5><%=link_to assignee.username.capitalize, user_path(assignee) %> | <%=assignee.points %> points </h5>
    </div>
    <hr />
  <% end %>

  </div>
</div>

<script>
  document.getElementById('find').onclick = myGps

  document.addEventListener("turbolinks:load", function() {
    var map = new GMaps({
      div: '#homemap',
      lat: 51.5074,
      lng: 0.1278,
      zoom: 10,
    });
    //add the map var to the windows DOM
    window.map = map; 
    taskmap();
  });

  //get the homemap and parse the existing markers, store and add the to windows object//  
  var tasks = JSON.parse(document.querySelector("#homemap").dataset.tasks);
  window.tasks = tasks;

  function taskmap(){
    tasks.forEach(function(task) {
        var content = `
                      <a href='/tasks/${task.id} style="text-decoration:none; " '>
                      <table>
                        <tr>
                          <td>
                            <img src="${task.title_icon}" width="85" style="margin-right:10px">
                          </td>
                          <td>
                            <h6><a style="color:#1783b8" href='/tasks/${task.id}'>${task.title}</a></h6>
                            <p style="color:#ec634a">${task.points} points </p>
                            <p style="color:#6f6f6f">${task.address}</a></p>
                          </td>
                        </tr>
                      </table>
                        </a>
                      `;
        map.addMarker({
          lat: task.latitude,
          lng: task.longitude, 
          title: task.title,
          infoWindow: { 
            content: content
          }
        });     
    });    
  };

  function myGps() {
      var currgeocoder;

      navigator.geolocation.getCurrentPosition(function (position, html5Error) {
          geo_loc = processGeolocationResult(position);
          currLatLong = geo_loc.split(",");
          initializeCurrent(currLatLong[0], currLatLong[1]);
      });

      function processGeolocationResult(position) {
          html5Lat = position.coords.latitude; //Get latitude
          html5Lon = position.coords.longitude; //Get longitude
          html5TimeStamp = position.timestamp; //Get timestamp
          html5Accuracy = position.coords.accuracy; //Get accuracy in meters
          return (html5Lat).toFixed(8) + ", " + (html5Lon).toFixed(8);
      }

      function initializeCurrent(latcurr, longcurr) {
          currgeocoder = new google.maps.Geocoder();


          if (latcurr != '' && longcurr != '') {
              var myLatlng = new google.maps.LatLng(latcurr, longcurr);
              return getCurrentAddress(myLatlng);
          }
      }

      //Get current address
      function getCurrentAddress(location) {
          currgeocoder.geocode({
              'location': location
          }, function (results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  var map = new GMaps({
                    div: '#homemap',
                    lat: html5Lat,
                    lng: html5Lon,
                    zoom: 13,
                  })
              tasks.forEach(function(task) {
                var content = `
                      <a href='/tasks/${task.id} style="text-decoration:none; " '>
                      <table>
                        <tr>
                          <td>
                            <img src="${task.title_icon}" width="85" style="margin-right:10px">
                          </td>
                          <td>
                            <h6><a style="color:#1783b8" href='/tasks/${task.id}'>${task.title}</a></h6>
                            <p style="color:#ec634a">${task.points} points </p>
                            <p style="color:#6f6f6f">${task.address}</a></p>
                          </td>
                        </tr>
                      </table>
                        </a>
                      `;
                map.addMarker({
                    lat: task.latitude,
                    lng: task.longitude, 
                    title: task.title,
                  infoWindow: { 
                    content: content
                  }
                });     
              }); 
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
        });
      }
  };
</script>