

<%#= javascript_pack_tag 'user_maps/index', 'data-turbolinks-track': 'reload' %>

<%= video_tag(
  'aidaround.mp4',
  id: 'video',
  autoplay: true,
  loop: true,
  muted: true,
  poster: 'aidaround.jpg')
%>

<%#= render "search_bar" %>


<!-- getting the gmaps address method on tasks and convert them to json and store it in markers -->
<%= tag.div nil, id: 'homemap', data: { markers: @tasks.to_json(methods: [:address]) } %>



<!--  -->
<div class="row">
  <div class="col">
    <h1>Latest Tasks</h1>

    <% @tasks.newest.each do |task| %>
      <div>
        <h5><%= task.points %> points | <%= link_to task.title, task %></h5>
        <div><%= task.address %> <%= task.desc %>   </div>
        <div>Creator: <%=task.owner_id %> <%= time_ago_in_words(task.created_at).gsub('about','') +" ago" %></div>
      </div>
      <hr />
    <% end %>

    <%#= paginate @tasks %>
  </div>
</div>

<!--  -->

<div class="row">
 <div class="col">
  <h1>Top Assignees</h1>

  <!-- need to add scope for highest points -->
  <% @assignees.each do |assignee| %>
    <div>
      <h5><%=link_to assignee.username.capitalize, user_path(assignee) %> | <%=assignee.points %> points </h5>
    </div>
    <hr />
  <% end %>

  </div>
</div>








