<%= javascript_pack_tag 'user_maps/index', 'data-turbolinks-track': 'reload' %>

<h1>Step 3</h1>
<h2>Great lets find your neighbourhood</h2>


<%= tag.div nil, id: 'map' %>


<%= form_for(current_user, as: current_user, url: wizard_path, class: "form-inline") do |f| %>
  <div class="address">
    <%= f.text_field :postcode, placeholder: "Finding your address...", :id => "address" , :value =>'' %>
  </div>
  <div class="latitude">
    <%= f.text_field :latitude, placeholder: "latitude", :id => "latitude" , :value =>'', :type => 'hidden'%>
    <%= f.text_field :longitude, placeholder: "longitude", :id => "longitude" , :value =>'', :type => 'hidden'%>
  </div>
  <div class="actions">
    <%= f.submit "Save", :id => "save",  :disabled => true %>
  </div>
<% end %>



<script>
  var map = new GMaps({
    div: '#map',
    lat: 55.3781,
    lng: 3.4360,
    zoom: 2,
  });
</script>


