<%= javascript_pack_tag 'user_maps/index', 'data-turbolinks-track': 'reload' %>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
<h3>Step 3</h3>
<h4>Great lets find your neighbourhood</h4>


<%= tag.div nil, id: 'map' %>


<%= form_for(current_user, as: current_user, url: wizard_path, class: "form-inline") do |f| %>
  <div class="address">
    <%= f.text_field :postcode, placeholder: "Finding your address...", :id => "address" , :value =>'' %>
  </div>
  <div class="latitude">
    <%= f.text_field :latitude, placeholder: "latitude", :id => "latitude" , :value =>'', :type => 'hidden'%>
    <%= f.text_field :longitude, placeholder: "longitude", :id => "longitude" , :value =>'', :type => 'hidden'%>
  </div>
  <div class="actions">
    <%= f.submit "Save", :id => "save",  :disabled => true ,class: "btn btn-success"  %>
  </div>
<% end %>

    </div>
  </div>
</div>
</h4>
</div>



<script>
  var map = new GMaps({
    div: '#map',
    lat: 55.3781,
    lng: 3.4360,
    zoom: 2,
  });
</script>


