<h1>Step 2</h1>
<h2>Hey <%= current_user.username.capitalize %> how about a smiling photo?! </h2>

<%= form_for(current_user, as: current_user, url: wizard_path) do |f| %>
  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>

<% if !current_user.avatar.nil? %>
      
       <%= image_tag "https://s3.eu-west-2.amazonaws.com/aidaround-avatar-bucket/default_avatar/avad.png", width: '20%' %>
    <% else %>
     <%= p 'hi' %>
    <%= image_tag current_user.avatar, width: '100%' %>
<% end %>




<div>
  <%= link_to 'Skip', next_wizard_path %>
</div>
