<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
<h3>Step 2</h3>
<h4>Hey <%= current_user.username.capitalize %> how about a photo?! </h4>
  <br/>

<%= render "avatar" %> 

<%= form_for(current_user, as: current_user, url: wizard_path) do |f| %>
  <div class="field">
    <%= f.file_field :avatar, :id => "input", :onchange => "previewFile()" %>
  </div>
  <div class="actions">
    <%= f.submit "Save",class: "btn btn-success" %>
  </div>
<% end %>

<div>
  <%= link_to 'Next', next_wizard_path %>
</div>


    </div>
  </div>
</div>
</h4>
</div>

<script type="text/javascript">
  
  function previewFile(){
  var preview = document.querySelectorAll('img')[0];
  var file    = document.getElementById('input').files[0];
  var reader  = new FileReader();

  reader.onloadend = function () {
    preview.src = reader.result;
  }
  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.src = "https://s3.eu-west-2.amazonaws.com/aidaround-avatar-bucket/default_avatar/avad.png";
  }
}

previewFile();  

</script>
