<h1>Welcome <%= current_user.username.capitalize %> </h1>

<div>
  your email is: <%= current_user.email %>
</div>

<div>
  your adress is: <%= current_user.postcode %>
</div>

<div>
  <%= link_to 'Create Tasks', {controller: "users", action: "show", id: current_user.id} %>
</div>

<div>
  <%= link_to 'Lets Aid Around', root_path %>
</div>

