<h1>Welcome <%= current_user.username.capitalize %> </h1>

<div>
  your email is: <%= current_user.email %>
</div>

<div>
  your adress is: <%= current_user.postcode %>
</div>


<div>
  <%= link_to 'Lets Aid Around', root_path %>
</div>
<div>

<%= link_to 'Lets Create Tasks', user_path, :id => current_user.id%>
</div>

